@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";


@theme {
  --font-primary: "Source Sans 3", sans-serif;
  --font-secondary: Arial, sans-serif;
  --color-primary: #0A66C2;
  --color-gray: #666666;
  --color-bg: #F4F2EE;
}